body {
  position: relative;
}

.affix {
  z-index: 999;
  top:0;
  width: 100%;
}

.home-hero {
    height:50vh;
    background: url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.home-hero h1, .home-hero p {
    color:#ffffff;
    margin-bottom:20px;
}

.navbar-brand h1 {
  margin-top: 0;
  font-size: 20px;
}

.navbar {
  border-radius: 0;
}

.about img {
}

#menu {
  padding-bottom: 15px;
}

footer {
  background-color: #eeeeee;
}



@media only screen and (min-width : 992px) {
  .home-hero {
    min-height: 500px;
  }
}

@media only screen and (max-width : 992px) {
  .home-hero {
    min-height: 500px;
    height: 100vh;
  }
}
